# Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# FAISS / Vector DB files
data/*.index
data/*.npy
data/uploads/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db